color: rgb(103, 81, 192);{
background-color: rgb(0, 0, 0);

}

header {
border-bottom: solid 2px rgb(0, 0, 0);
padding: 20px;
font-size: 32px;
color: rgb(0, 0, 0);
}

section {
background: rgb(61, 13, 112);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.chamada-texto {
margin-right: 5%;
}

img {height: 200px;


}


.categoria-videos {
display: flex;
overflow: auto;
gap: 10px;
}
